# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Django
db.sqlite3
media/
static_root/

# IDEs
.vscode/
.idea/
data/
old.html
img/01/
img/02/
img/03/
img/04/
img/05/
img/06/

public/
docs/
dist/
.astro
node_modules/
astro.config.mjs
jako_vault.db
package-lock.json
package.json
vault.html
z_dial_core.py


manifesto.html
manifesto2.html

journal/

templates/